@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: white;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 97%;
    height: 95%;
}

main, .start-page, .action-page{
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

main{position: relative;}

.start-page, .action-page{
    width: 100%;
    height: 100%;
    position: absolute;
}

.action-page{
    flex-direction: column;
    gap: 20px;
}

.start-page{
    visibility: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
}

.logo{
    width: 278px;
    height: 25px;
}

.exchange-rates{
    width: 404px;
    height: 42px;
    border-radius: 8px;
    background: #F4F4F4;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 68px;
}

.exchange-rates > .block{
    font-family: "Inter", serif;

    width: 160px;
    height: 42px;
    /* background: #000000; */
    display: flex;
    align-items: center;
    gap: 12px;
}

.exchange-rates > .block > .exchange-rate-value, .support-data{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.exchange-rates > .block > .exchange-rate-value > .title, .support-data > .title{
    font-weight: 500;
    color: #565656;
}

.exchange-rates > .block > .exchange-rate-value > .value, .support-data > .value{
    font-weight: bold;
    color: black;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.welcome{
    display: flex;
    align-items: center;
    margin-top: -34px;
    gap: 6px;
}

.welcome-text{
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.welcome-emoji{
    font-size: 50px;
}

.action, .instruction, .illustration{
    width: 436px;
}

.group-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 20px 25px;
    font-size: 18px;
    border-radius: 8px;
    font-family: 'Inter', serif;
    background: #F4F4F4;
}

.group-container > .title{
    text-align: start;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 11px;
}

.group-container > .group-item, .group-container > .services-items > .group-item{
    margin-top: 9px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 125px;
    gap: 8px;
}

.services{
    margin-top: -10px;
    margin-bottom: 10px;
}

.services-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.group-container > .group-item > .title, .group-container > .services-items > .group-item > .title{
    width: 60%;
    text-align: center;
}

.refill-card{
    width: 100% !important;
}

.other{
    width: 100% !important;
    height: 51px !important;
    flex-direction: row !important;
}

.other > .title{
    width: auto !important;
}

.airpods, .secure-icon{
    width: 40px !important;
    height: 40px !important;
}

.support_icon{
    width: 32px;
    height: 32px;
}

.tech{
    display: flex;
    gap: 12px;
}

.socials{
    display: flex;
    gap: 12px;
    align-items: center;
}

.instruction{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.visa-icon{
    width: 75px;
    height: 24px;
}

.mastercard-icon{
    width: 39px;
    height: 24px;
}

.cards-provider{
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 8px;
}

.secure-card-info{
    width: 80%;
    height: 89px;
    background: black;
    color: white;
    font-family: "Inter", serif;
    border-radius: 120px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    gap: 16px;
}

.main-text-block{
    display: flex;
    flex-direction: column;
    font-family: "Inter", serif;
    gap: 16px;
}

.main-text-block > .title{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.main-text-block > .description{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.illustration{
    width: 436px;
    background: linear-gradient(180deg, #0A0B2F, #2B4E8F);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-insert{
    width: 280px;
    height: 344px;
}

.qrcode{
    width: 372px;
    height: 274px;
    color: white;
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background: #f8f8f815;
}

.qrcode-img{
    width: 201px;
    height: 200px;
}

.icon{
    width: 24px;
    height: 24px;
}

.tablet-android-img{
    width: 28px;
    height: 28px;
}

.ex-icon{
    width: 40px;
    height: 40px;
}



.action-page > .main{
    display: flex;
    justify-content: space-between;
}

.card-container{
    width: 434px;
    height: 280px;
    background: #F4F4F4;
    border-radius: 8px;
}

.action-part{
    width: 434px;
    height: 409px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;

}

.action-part > .block{
    width: 205.42px;
    height: 121px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.04);
}

.button-withdraw{
    width: 204px;
    height: 63px;
    border-radius: 8px;
    background: #FA5255;
    color: white;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > .support{
    width: 384px;

}

.action-categories-side{
    display: flex;
    flex-direction: column;
    gap: 23px;
}